/* tracklist  */
.list-group-item {
  background: #dcdcdd;
}
.list-group-item:hover {
  background: #b9b9c1;
}
.list-group-item.active {
  background: #f9c7d8;
  border-color: rgba(0,0,0,.125);
}
.list-group-item i {
  margin-right: 0.5rem;
  opacity: 0.9;
}
/* social panel */
a.track-item span:nth-child(n+2) {
  font-size: 0.9rem;
  font-style: oblique;
  opacity: 0.9;
}
/* track title */
.track-title {
  display: ;
  position: relative;
}
.track-title span {
  font-weight: 1000;
  color: #dcdcdd;
  display: inline-block;
  position: absolute;
  bottom: 3vh;
  left: 15%;
}
