/* aritcle header  */
.article-header {
  line-height: 2.5rem;
}
.article-header h3, .article-header a {
  display: inline;
}
.article-header a {
  color: #777;
  margin-left: 0.5rem;
}
.article-header a:hover {
  color: #a6a3a3;
  text-decoration: none;
}
/* article image  */
.article-image .img-vertical {
  object-fit: contain;
  height: 100%;
  max-height: 80vh;
}
.article-image .img-horizontal {
  width: 100%;
}
