* {
  margin:0;
  padding:0;
}
.no-hover {
  pointer-events: none;
}
body {
  background-color: #dcdcdd;
}
footer {
  min-height: 40px;
  background: aqua;
}
.content-wrapper {
  min-height: calc(100vh - 100px);
}
/* page content */

/* chat sidebar */
.chat-sidebar {
  height: calc(100vh - 150px);
  background-color: pink;
  border: 1px solid grey;
  box-sizing: border-box;
}
/* carousel and sidebars */
.carousel_and_sidebars div {
  height: 50vh;
}
.carousel {
  background: linear-gradient(to bottom right, #0d0220, #200253);
}
.carousel-item .carousel img {
  height: 50vh;
  object-fit: contain;
}
.carousel-item .img-horizontal {
  height: 50vh;
  width: auto;
  object-fit: contain;
}
.carousel-item .img-vertical {
  max-height: 50vh;
  height: auto;
  max-width: 100%;
}
/* left sidebar */
div.left-sidebar, div.right-sidebar {
  display: none;
  background-color: grey;
  padding: 15px 5px 15px 15px;
  min-height: 70vh;
}
div.left-sidebar h6, div.right-sidebar h6 {
  font-weight: bold;
}
/* news and sidebars */
.img-vertical {
  object-fit: contain;
  width: 100%;
  max-height: 40vh;
}
